#this is ignore file
*.o
*.a
*.out
*.exe
*.dll
*.obj
*.res
*.pdb
*.swp
*.s
build/
build.wsl/
CMakeFiles/
CMakeCache.txt
cpp/post-receive
cpp/pre-receive
cpp/update
go/post-receive
go/pre-receive
go/update
.vs/
.vscode/ipch/
*.VC.db*
CMakeSettings.json
